{% load static %}
<!DOCTYPE html>
<html lang="en">
{% comment %} <title>{% block head_title %}{% endblock %}</title> {% endcomment %}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% comment %} <link rel="stylesheet" href="{% static 'css/user_registration_bs4.css' %}"> {% endcomment %}
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>

{% include 'header.html' %}

{% block content %}{% endblock %}

{% include 'footer.html' %}


</body>
</html>
